__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

.ipynb_checkpoints/

venv/
.env/
.venv/


*.xlsx
*.xls


.vscode/

notes etc/
.DS_Store
.AppleDouble
.LSOverride


*.log


.cache/
obsidian/0/
notes
notes/
.DS_Store
